# Configurações do Clima
CITY_NAME="São José do Rio Pardo"
CITY_LAT="-21.59"
CITY_LON="-46.88"

# Banco de Dados
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin123